<html>
  <head>
    <title>Vue Example with Kemal</title>
    <script src="//unpkg.com/vue@2.5.13/dist/vue.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/randomcolor/0.4.4/randomColor.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/beepjs/0.0.1/beep.min.js"></script>
    <link rel="stylesheet" href="/styles/main.css">
  </head>
  <body>
    <main id="app"></main>
    <script src="/javascripts/main.js"></script>
  </body>
</html>
